body {
    background: #494745;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    background-color: #376151;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    border-style: groove; 
    border-width: 10px;
    border-color: #4b5c42;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    float: left;
    width: 70%;
    margin-bottom: 100px;

}

aside {
float: right;
width: 25%;

}

footer {
    background-color: #9e8359;
    clear: both;
    text-align: center;
    margin-top: 50%;
    height: 300px;
}

