header {
    background-color: rgb(48, 48, 150);
    border-style: groove;
    border-color: rgb(24, 68, 163);
    border-width: 10px; 
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    
}

html { 
    background: url(../img/storebackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



.logo {
    margin-bottom: -15px;
    width: 200px;
    height: 150px;
    padding-bottom: -100px;
}
    
ul {
    list-style-type: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    float: right;
    font-size: 30px;
    margin-top: -90px;
    padding-right: 10px;
    color: white;
    font-family: 'Comic Sans MS', Impact;
    
}

a {
    color: white;
}

a:hover {
    color: red;
}


li {
    padding-left: 75px;
    margin-left: 100px;
    
}

.center_title {
    text-align: center;
    background-color: black;
    margin-top: -5px;
    font-size: 42px;
    color: whitesmoke;
    margin-left: -10px;
    margin-right: -10px;
    
}

.fire {
    margin-left: 100px;
    width: 350px;
    height: 350px;
    border: black;
    border-style: solid;

}

.firetxt {
    width: 50px;
    font-size: 35px;
    padding-left: 55px;
    padding-right: 75px;
    margin-left: 15px;
    margin-top: -35px;
    background-color: black;
    color: red;
    
}

.earth {
    margin-left: 500px;
    margin-bottom: 100px;
    width: 350px;
    height: 350px;
    border: black;
    border-style: solid;

}

.earthtxt {
    width: 125px;
    font-size: 35px;
    padding-left: 55px;
    padding-right: 35px;
    margin-left: 425px;
    margin-top: -430px;
    background-color: black;
    color: green;
    

}

.air {
    width: 350px;
    height: 350px;
    margin-left: 1025px;
    margin-top: -2px;
    border: black;
    border-style: solid;
}  

.airtxt {
    width: 125px;
    font-size: 35px;
    margin-left: 1280px;
    margin-top: -532px;
    padding-left: 40px;
    padding-right: 10px;
    background-color: black;
    color: white;
    
}

.water {
    margin-left: 1422px;
    margin-top: -4px;
    width: 350px;
    height: 350px;
    border: black;
    border-style: solid;
}


.watertxt {
    width: 125px;
    padding-left: 45px;
    padding-right: 30px;
    font-size: 35px;
    margin-left: 1660px;
    margin-top: -425px;
    background-color: black;
    color: blue;
    

}

.fire_price {
    color: red;
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 0;
    margin-left: 125px;
    margin-right: 1500px;
   
    
}

.earth_price {
    color: green;
    background-color: white;
    font-size: 40px;    
    margin-left: 525px;
    margin-top: -80px;
    margin-right: 1100px;
}

.air_price {
    color: aquamarine;
    background-color: white;
    font-size: 40px;
    margin-left: 1055px;
    margin-top: -84px;
    margin-right: 580px;
}

.water_price {         
    background-color: white;
    color: blue;
    font-size: 40px;
    margin-left: 1450px;
    margin-top: -81px;
    margin-right: 175px;
}

.second_title {
    background-color: rgb(48, 48, 150);
    color: white;
    font-size: 60px;
    margin-bottom: -400px;
    margin-top: 200px;
    border-style: groove;
    border-color: blue; 
    border-width: 6px;  
    padding-bottom: 800px;
    text-align: center;
}

.cat1 {
    width: 350px;
    height: 350px; 
    margin-left: 40px;
    border-style: solid;
    border-width: 5px; 
    position:relative; top: -350px;
     
      
}

.cat2 { 
    width: 350px;
    height: 350px; 
    border-style: solid;
    margin-left: 100px;
    border-width: 5px; 
    position:relative; top: -350px; 
}

.cat3 {
    width: 350px;
    height: 350px; 
    border-style: solid;
    margin-left: 125px;
    border-width: 5px; 
    position:relative; top: -350px; 
}

.cat4 {
    width: 350px;
    height: 350px; 
    border-style: solid;
    margin-left: 130px;
    border-width: 5px; 
    position:relative; top: -350px; 
}

.havarti {
    font-size: 40px;
    margin-left: 50px;
    margin-top: -345px
}

.paul {
    font-size: 40px;
    margin-left: 525px;
    margin-top: -80px;
}

.jamie {
    font-size: 40px;
    margin-left: 1010px;
    margin-top: -80px;
}

.dill {
    font-size: 40px;
    margin-left: 1525px;
    margin-top: -80px;
}

.havarti_bio {
    margin-left: 40px;
    margin-top: -30px;
    text-indent: 30px;
    font-size: 20px;
    width: 310px;
    color: white;
    background-color: rgb(63, 61, 61);
    border-style: groove;
    border-color: gray;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;

}

.paul_bio {
    text-indent: 30px;
    font-size: 20px;
    width: 310px;
    color: white;
    background-color: rgb(63, 61, 61);
    border-style: groove;
    border-color: gray;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 520px;
    margin-top: -300px;
    font-family: Arial;

}

.jamie_bio {
    text-indent: 30px;
    font-size: 19px;
    width: 330px;
    color: white;
    background-color: rgb(63, 61, 61);
    border-style: groove;
    border-color: gray;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;
    margin-left: 1000px;
    margin-top: -260px;

}

.dill_bio {
    text-indent: 30px;
    font-size: 17px;
    width: 310px;
    color: white;
    background-color: rgb(63, 61, 61);
    border-style: groove;
    border-color: gray;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial;
    margin-left: 1500px;
    margin-top: -320px;
}
